<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Corona Virus Tracker</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<table border="1px">
		<tr>
			<th>Date</th>
			<th>Country</th>
			<th>State/Province</th>
			<th>City</th>
			<th>Total no of confirmed cases</th>
		</tr>
		<tr th:each="locationStat : ${locationStats}">
			<td th:text="${locationStat.date}">-</td>
			<td th:text="${locationStat.country}">-</td>
			<td th:text="${locationStat.stateOrProvince}">-</td>
			<td th:text="${locationStat.city}">-</td>
			<td th:text="${locationStat.latestTotalCases}">0</td>
		</tr>
	</table>

</body>

</html>